# IDE/editor folders
.idea/
.vscode/

# Configuration files
**/application.yml
**/*.yml
**/*.properties

# Build output
**/target
**/build

# Log files
**/*.log

# Temporary files
**/temp
**/tmp

# Docker files
**/Dockerfile


**/docker-compose.yml